.cart-modal-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cart-modal-item {
  display: flex;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #1677ff;
  padding: 8px;

  &__img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 10px;

    &-wrapper {
      margin-right: 8px;
    }
  }

  &__quantity {
    margin-left: auto;
  }
}
